@import url('https://fonts.googleapis.com/css2?family=Anton&family=Comforter+Brush&family=Exo+2:ital,wght@0,100;0,900;1,200;1,300&family=M+PLUS+Code+Latin:wght@100;400&family=Shippori+Antique&family=Yanone+Kaffeesatz:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Comforter+Brush&family=Exo+2:ital,wght@0,100;0,900;1,200;1,300&family=Gloria+Hallelujah&family=M+PLUS+Code+Latin:wght@100;400&family=Shippori+Antique&family=Yanone+Kaffeesatz:wght@300&display=swap');
body{
    font-family: 'Anton';
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
#header .lan a {
    text-decoration: none;
    color: aqua;
}
#header .lan h1{
    text-align: right;
}
#header{
    background-color: #5C636E;
}
nav label{
    justify-content: right;
    text-align: right;
    z-index: -1;
}
nav{
	position: relative;
	margin: 0;
	width: 100%;
	height: 50px;
	background: #34495e;
	border-radius: 8px;
	font-size: 0;
	box-shadow: 0 2px 3px 0 rgba(0,0,0,.1);
    display: flex;
    position: relative;
}
nav a{
	font-size: 15px;
	text-transform: uppercase;
	color: white;
	text-decoration: none;
	line-height: 50px;
	position: relative;
	z-index: 1;
	display: inline-block;
	text-align: center;
}
nav .animation{
	position: absolute;
	height: 100%;
	/* height: 5px; */
	top: 0;
	/* bottom: 0; */
	z-index: 0;
	background: #1abc9c;
	border-radius: 8px;
	transition: all .5s ease 0s;
}
nav a:nth-child(1){
	width: 100px;
}
nav .start-home, a:nth-child(1):hover~.animation{
	width: 100px;
	left: 0;
}
nav a:nth-child(2){
	width: 150px;
}
nav a:nth-child(2):hover~.animation{
	width: 150px;
	left: 100px;
}
nav a:nth-child(3){
	width: 100px;
}
nav a:nth-child(3):hover~.animation{
	width: 100px;
	left: 250px;
}
nav a:nth-child(4){
	width: 100px;
}
nav a:nth-child(4):hover~.animation{
	width: 100px;
	left: 350px;
}
nav a:nth-child(5){
	width: 100px;
}
nav a:nth-child(5):hover~.animation{
	width: 80px;
	left: 460px;
}
nav a:nth-child(6){
	width: 100px;
}
nav a:nth-child(6):hover~.animation{
	width: 100px;
	left: 550px;
}


.brand h1{
    font-size: 3rem;
    text-transform: uppercase;
    color: white;
    text-align: center;
    padding: 10px;
}
.brand h1 span{
    color: #F8B500;
}
.container{
    min-height: 87vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
section .wave{
    position: absolute;
    width: 100%;
    height:143px;
    bottom: 0;
    left: 0;
    background:url(./img/wave.png);
    animation: animate 10s linear infinite;
}
/*cabecera*/
#cabecera{
    background-image: url(img/fondo_inicial.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
    justify-content: right;
}
#cabecera::after{
    content:";";
    position: absolute;
    left: 0;
    top:0;
    height:100%;
    width: 100%;
    background-color: black;
    opacity: .5;
    z-index: -1;
}
#cabecera .cabecera{
    max-width: 1200px;
    margin:0 auto;
    padding: 0 50px;
    justify-content: flex-start;
}
#cabecera h1{
    display: block;
    width: fit-content;
    font-size: 6rem;
    font-family:'Dancing Script', cursive;
    position: relative;
    color: transparent;
    animation:revela .5s ease forwards;
    animation-delay: 1.5s;

}

#cabecera h1 span{
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width: 0;
    background-color: #A2DBFA;
    animation: revelacion 1s ease;
    animation-delay: 1s;

}

#box{
    background: url(./img/bac.jpg) ;
    background-size: cover;
    
}
.box{
    width: 500px;
    background: rgba(0, 0, 0, 0.631);
    margin: 10px auto;
    padding: 50px;
    color:white;
    text-align: center;
    border-radius: 15px;
}

.box-img{
    border-radius: 50%;

}
.box h1{
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
    margin: 30px  0 20px
}

.box h3{
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
    margin-bottom: 20px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
#Hobbies{
    background-color: black;
}
#Hobbies .todo, .titulo, .fotos, .cajita, .redes{
    width: 100%;
}

/*Centrado de div e imagenes*/
#Hobbies .todo{
    max-width: 1150px;
    margin: auto;
    margin-top: 0;
    text-align: center;
    justify-content: center;
    color: #ffffff;
    line-height: 1.7;
    height: 500px;

}

/*Centrado de titulo*/
#Hobbies .titulo{
    max-width: 600px;
    margin: auto;
    margin-bottom: 0;
    padding: 10px;
}

/*Estilo de titulo*/
#Hobbies .titulo h1 {
    margin-bottom: 25px;
    font-size:3rem;
    letter-spacing: 4px;
    font-weight: 100;
    margin: 10px 0 20px
}

#Hobbies .fotos {
display: flex;
}

#Hobbies .cajita figure{
    width: 100%;
    margin-bottom: 20px;
    position: relative;
}

/*Tama침o de imagenes*/
#Hobbies .cajita figure img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;

}

/*Estilo para el fondo de los iconos*/
.descripcion{
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.315);
    height: 100%;
    line-height:  260px;
    transition: all 1s;
    opacity: 0;
    visibility: hidden;
}

 /*Animaci칩n de los iconos*/
.cajita:hover .descripcion{
    opacity: 1;
    visibility: visible;
}

/*Color del nombre*/
.cajita:hover h1{
    color: crimson;
    transition: 2s;
}

#musica .musica{
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 ;
    padding: 30px 0;
}
#musica .section-title{
    font-size: 4rem;
    font-weight: 300;
    color: black;
    margin-bottom: 0;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
}
#musica .musica-top p{
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: .05rem;
}
#musica .musica-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
#musica .musica-item1{
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    background-image: url(./img/stay_music.jpg);
    background-size: cover;
    margin: 10p 5%;
    color: white;
}
#musica .musica-item2{
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    background-image: url(./img/soufavela.jpg);
    background-size: cover;
    margin: 10px 5%;
    color: white;
}
#musica .musica-item3{
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    background-image: url(./img/Love-Nwantiti-remix.jpg);
    background-size: fill;
    margin: 10px 5%;
    color: white;
}
#musica .musica-item4{
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    background-image: url(./img/mood.jpg);
    background-size: cover;
    margin: 10px 5%;
    color: white;
}
#metas{
    background: #FF9B6A;
}
#metas .contenedor{
    margin: auto;
    display: table;
}

#metas .contenedor h1{
    font-size: 3rem;
    float: left;
    color: #fff;
    position: relative;
    font-family: 'Gloria Hallelujah', cursive;
}

#metas .contenedor h1 span{
    font-size: 4rem;
    position: absolute;
    right: 0;
    width: 0;
    background: #FF9B6A;
    border-left: 3px solid #000;
    animation:maquina 5s infinite alternate steps(22);

}

#metas .container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
    background-color: aqua;
}

#metas .timeline{
    width: 50%;
    height: auto;
    max-width: 800px;
    margin: 0 auto;
    position: relative;
}

#metas .timeline ul{
    list-style: none;
}

#metas .timeline ul li{
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.631);
    color: white;
    border-radius: 10px;
    margin-bottom: 10px;
}

#metas .timeline ul li:last-child{
    margin-bottom: 0;
}

#metas .timeline-content h1{
    font-size: 20px;
    font-weight: 100;
    line-height: 20px;
    margin-bottom: 10px;
}

@media only screen and (min-width: 400px){
    #metas .timeline::before{
        content: ' ';
        position: absolute;
        height: 100%;
        width: 4px;
        left: 50%;
        transform: translateX(-50%);
        background-color: rgb(73, 29, 194);
    }
    #metas .timeline ul li{
        width: 50%;
        margin-bottom: 50px;
        position: relative;
    }
    #metas .timeline ul li:nth-child(odd){
        float: left;
        clear: right;
        transform: translateX(-30px);
    }
    #metas .timeline ul li:nth-child(even){
        float: right;
        clear: left;
        transform: translateX(30px);
    }
    #metas .timeline ul li::after{
        content:' ';
        position: absolute;
        height: 20px;
        width: 20px;
        background-color: gray;
        border-radius: 50%;
        top:0;
    }
    #metas .timeline ul li:nth-child(odd)::after{
        transform: translate(50%,-50%);
        right: -30px;
    }
    #metas .timeline ul li:nth-child(even)::after{
        transform: translate(-50%,-50%);
        left: -30px;
    }
    #metas .timeline ul li:hover:after{
        background-color: #FF5151;
    }
}
#contacto .contacto{
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
}

#contacto .contacto-items{
    width: 100%;
}
#contacto .contacto-item{
    width: 100%;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    padding: 30px;
    margin:30px;
    justify-content: center;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 18px 0 #0000002c;
    background-color: #C9CCD5;
}

#contacto .contacto-info h1{
    font-size: 1rem;
    margin-bottom: 5px;
}
#contacto .contacto-info h2{
    font-size: 0.8rem;
    margin-bottom: 5px;
}

#footer{
    background-color: #5C636E;
}
#footer .footer{
    min-height: 200px;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 10px;
}


@keyframes maquina{
    from{
        width: 100%;
    }
    to{
        width: 0;
    }
}

@keyframes animate{
    0%{
        background-position: 0px;
    }
    100%{
        background-position: 1160px;
    }
}

@keyframes revelacion{
    50%{
        width: 100%;
        left:0;
    }
    100%{
        width: 0;
        left: 100%;
    }
}
@keyframes revela{
    100%{
        background: rgba(0, 0, 0, 0.631);
        color: white;
    }
}
@media (max-width:1118px){
    nav img{
        left: 6%;
    }
}

@media (max-width:944px){
    nav{
        font-size: 17px;
    }
}
@media screen and (max-width:860px){
    section  .wave{
        display:none;

}
nav{
	position: relative;
	margin: 0;
	width: 100%;
	height: 50px;
	background: #34495e;
	border-radius: 4px;
	font-size: 0;
	box-shadow: 0 2px 3px 0 rgba(0,0,0,.1);
    display: flex;
    position: relative;
}
nav a{
	font-size: 12px;
	text-transform: uppercase;
	color: white;
	text-decoration: none;
	line-height: 50px;
	position: relative;
	z-index: 1;
	display: inline-block;
	text-align: center;
}
nav .animation{
	position: absolute;
	height: 100%;
	/* height: 5px; */
	top: 0;
	/* bottom: 0; */
	z-index: 0;
	background: #1abc9c;
	border-radius: 5px;
	transition: all .5s ease 0s;
}
nav a:nth-child(1){
	width: 100px;
}
nav .start-home, a:nth-child(1):hover~.animation{
	width: 80px;
	left: 0;
}
nav a:nth-child(2){
	width: 150px;
}
nav a:nth-child(2):hover~.animation{
	width: 120px;
	left: 80px;
}
nav a:nth-child(3){
	width: 100px;
}
nav a:nth-child(3):hover~.animation{
	width: 80px;
	left: 200px;
}
nav a:nth-child(4){
	width: 100px;
}
nav a:nth-child(4):hover~.animation{
	width: 80px;
	left: 285px;
}
nav a:nth-child(5){
	width: 100px;
}
nav a:nth-child(5):hover~.animation{
	width: 80px;
	left: 365px;
}
nav a:nth-child(6){
	width: 100px;
}
nav a:nth-child(6):hover~.animation{
	width: 90px;
	left: 440px;
}


.brand h1{
    font-size: 2rem;
    text-transform: uppercase;
    color: white;
}
.brand h1 span{
    color: #F8B500;
}
#cabecera h1{
    display: block;
    width: fit-content;
    font-size: 4rem;
    font-family:'Dancing Script', cursive;
    position: relative;
    color: transparent;
    animation:revela .5s ease forwards;
    animation-delay: 1.5s;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
#Hobbies{
    background-color: black;
}
#Hobbies .todo, .titulo, .fotos, .cajita, .redes{
    width: 100%;
}

/*Centrado de div e imagenes*/
#Hobbies .todo{
    max-width: 1150px;
    margin: auto;
    margin-top: 0;
    text-align: center;
    justify-content: center;
    color: #ffffff;
    line-height: 1.7;
    height: 350px;

}

/*Centrado de titulo*/
#Hobbies .titulo{
    max-width: 100px;
    margin: auto;
    margin-bottom: 0;
    padding: 10px;
}

/*Estilo de titulo*/
#Hobbies .titulo h1 {
    margin-bottom: 25px;
    font-size:2rem;
    letter-spacing: 4px;
    font-weight: 100;
    margin: 10px 0 20px
}

#Hobbies .fotos {
display: flex;
}

#Hobbies .cajita figure{
    width: 50%;
    margin-bottom: 20px;
    position: relative;
}

/*Tama침o de imagenes*/
#Hobbies .cajita figure img {
    width: 125px;
    height: 125px;
    object-fit: cover;
    border-radius: 50%;
}

/*Estilo para el fondo de los iconos*/
.descripcion{
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.315);
    height: 100%;
    line-height:  260px;
    transition: all 1s;
    opacity: 0;
    visibility: hidden;
}

 /*Animaci칩n de los iconos*/
.cajita:hover .descripcion{
    opacity: 1;
    visibility: visible;
}

.cajita h1{
    font-size: 1rem;
}
/*Color del nombre*/
.cajita:hover h1{
    font-size: 1.5rem;
    color: crimson;
    transition: 2s;
}

}
